# Firebase build and deployment files
mcdl-app/firebase-debug.log
mcdl-app/firebase-debug.*.log
mcdl-app/.firebaserc

# Firebase Hosting
mcdl-app/firebase.json
mcdl-app/*.cache
mcdl-app/hosting/.cache

# Firebase Functions
mcdl-app/functions/node_modules/
mcdl-app/functions/.env
mcdl-app/functions/package-lock.json

# Firebase Emulators
mcdl-app/firebase-*.zip
mcdl-app/.firebase/
mcdl-app/emulator-ui/

# Logs
mcdl-app/*.log
mcdl-app/npm-debug.log*
mcdl-app/yarn-debug.log*
mcdl-app/yarn-error.log*

# Environment files (local configs)
mcdl-app/.env.*
mcdl-app/.env

mcdl-app/src/firebase.ts

mcdl-app/package-lock.json